.main {
  padding-top: 3rem;
  padding-bottom: 5rem;

  &__container {
    display: grid;
    grid-template-rows: max-content 1fr;

    @media only screen and (max-width: $bp-md) {
      padding: 3rem;
    }
  }

  &__heading {
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 600;

    margin: 2rem 0;

    @media only screen and (max-width: $bp-md) {
      text-align: center;
    }

    &--change {
      display: block;

      margin: 2rem 0;
    }
  }
}
